@use '../../../../styles/variables' as *;

.result-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.result-item {
    padding: 16px;
    border-radius: 8px;
    box-shadow: $color-shadow-100;
    background-color: $color-bg-primary;
}